<% flash.each do |name, msg| %>
  <div class="alert alert-<%=name%> alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            X
        </span>
    </button>
    <div class="alert-title"><%=msg%></div>
  </div>
<% end %>


