<% @comments.each do |comment| %>
    <% if comment.user %>
      <div class="comments">
        <% if current_user == comment.user %>
          <div class="actions">
            <%= link_to [comment.post, comment], :confirm => 'Seguro?', :method => :delete do %>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
          </div>
        <% end %>
        <div class="box">
          <p>
            <%= markdown(comment.body) %>
          </p>
          <div class="box-footer">
            <div class="user-info">
              Creado por: <a href="javascript:void(0);"><%= comment.user.username %></a>, hace <%= time_ago_in_words (@post.created_at)%>
            </div>  
          </div>
        </div>
      </div>
    <% end %>
<% end %>
