<table>
    <tr>
      <th>Commenter</th>
      <th>Body</th>
    </tr>
  
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.user %></td>
      <td><%= comment.body %></td>
    </tr>
  <% end %>
  </table>