<%= form_for([@comment.post, @comment]) do |f| %>
  <%=render 'shared/errors', object: f.object%>
  <div class="comment-form">
    <div class="box">
      <div class="form-group">
          <%= f.text_area :body, class: 'form-control', placeholder: 'Agrega un comentario.....', required: true %>          
      </div>
      <small>** Acepta MarkDown **</small><br>
      <div class="text-align-center">
        <%= f.submit 'Comentar', class: 'btn btn-primary' %>          
      </div>
    </div>
  </div>
<% end %>