<header class="masthead" style="background-image: url('/assets/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Super Blog</h1>
          <span class="subheading">My clean blog example</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @posts.each do |post| %>
        <div class="post-preview">
          <%= link_to post_path(post) do %>          
            <h2 class="post-title">
              <%= post.title.capitalize!%>
            </h2>
          <% end %>
          <p class="post-meta">Publicado por
            <a href="javascript:void(0);"><%=post.user.username%></a>
            <%= time_ago_in_words (post.created_at)%>
          </p>
        </div>
        <hr>      
      <%end%>    
    </div>
  </div>
</div>