<div id="register">
    <%= form_for @post do |f| %>    
      <h1 class="text-light">Nuevo Post</h1>
      <hr class="thin">
      <%=render 'shared/errors', object: f.object%>
      <%=render 'form', f: f ,action: 'Crear'%>
    <%end%>
</div>  