@import 'main';
.container{
  background-color: #FFFFFF;
}
.post{

  h2{
    font-size: 70px !important;
    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    word-break: break-all;
    a{
      font-size: 70px !important;
      color: $hover-color;
      &:hover{
        text-decoration: none;
        color: $blue-color;
      }
    }
  }
  .post-meta{
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #777;
    a{
      color:$hover-color;  
    }
  }
  p{
    margin-top: -15px;
  }
}

.full-post{
  .title{
    color: $hover-color;
    font-size: 70px !important;
    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    word-break: break-all;
    text-align: center;
  }
  hr{
    margin: 20px;
  }
  .body{
    p{
      font-size: 20px;
      color: #333;
      font-family: Lora,'Times New Roman',serif;
      line-height: 1.5  
    }
  }
  .text-secondary{
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #777;
    text-align: center;
    a{
      color: $hover-color;
    }
  }
  .post-actions{
    text-align: center
  }
}
/* NEW POST */
#register{
  h1{
    text-align: center;
  }
  hr{
    margin: 20px;
  }
  input[type=text]{
    max-width: 100%;
  }
  textarea{
    max-width: 100%;
    height: 220px;
  }
  .form-actions{
    padding: 20px;
    text-align: center;
  }
}

/*PAGINATION*/
.pagination-container{
  display: table;
  margin: 0 auto;
}
.digg_pagination {
  margin-top: 20px;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: $hover-color;
    border: 1px solid $hover-color; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }