@import 'main';
.user-menu{
  box-shadow: 2px 2px 2px 2px #888888;
  margin: 0 auto !important;
  width: auto;
  max-width: 340px;
}
.register-form{
  h1{
    text-align: center;
    color: $hover-color;    
  }
  hr{
    margin: 15px 0;
  }
  .row{
    padding: 30px;
  }
  .form-actions{
    text-align: center;
    padding-bottom: 20px;
  }
}